# Server
NODE_ENV=development
PORT=3333
HOST=0.0.0.0

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/sistema_mateus?schema=public"

# Auth
JWT_SECRET="change-me-super-secret-access"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change-me-super-secret-refresh"
JWT_REFRESH_EXPIRES_IN="7d"

# CORS
CORS_ORIGIN="http://localhost:5173"
